@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
}

body {
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans';
  background-color: #F9F8FA;
}

h1, h2, h3, h4 {
  font-family: 'Roboto';
}
#title {
  font-family: 'Roboto Mono', monospace;
  color: #E80D53;
}

button {
  background-color: #E80D53;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  font-size: 14px;
}

#topstories {
  padding: 10px;
  font-size: 20px;
}

.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  width: 30%;
  margin: 10px;
  opacity: 0.9;
  background-color: white;
}
.article:hover {
  opacity: 1;
}
.article a {
  text-decoration: none;
  color: #064A7A;
}
.article a:hover {
  font-weight: bold;
}

.article-image {
  max-width: 100%;
}

.article-footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: space-between;
  margin: 10px;
}

@media screen and (max-width: 1000px) {
  .article {
    width: 40%;
  }
}

@media screen and (max-width: 870px) {
  .article {
    width: 80%;
  }
  #topstories {
    padding: 10px;
    font-size: 16px;
  }
  button {
    font-size: 12px;
  }
}
@media screen and (max-width: 630px) {
  button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 80%;
  }
}

@media screen and (max-width: 630px) {
  #title {
    font-size: 24px;
  }
}
